node_modules
angular-highlightjs.sublime-*
.tern-port
.DS_Store
bower_components/angular/docs
bower_components/angular/i18n
bower_components/jquery/
bower_components/bootstrap/
bower_components/angular-ui-router
