<div>
  <h3 class="text-muted" ng-show="files.length == 0">
    &nbsp; loading&hellip;
  </h3>
  <div class="main-content" ng-show="files.length > 0" ng-class="{'file-specified': model.specifiedFileContent}">
    <div class="nav-container" 
         ng-if="!model.specifiedFileContent"
         ng-select="model.currentFilename"
         select-class="{'active': $optSelected}">

      <div class="action-buttons clearfix">
        <a ng-href="http://plnkr.co/edit/{{ plunkId }}" class="btn btn-success edit-on-plunker pull-right" target="_blank">&nbsp; Edit &nbsp;</a>
        <a href="" class="btn btn-primary view-result pull-right"
           ng-if="config.result"
           ng-select-option="?RESULT?">Result</a>
      </div>
      <ul class="nav nav-tabs">
        <li ng-repeat="file in files" 
            ng-select-option="{{ file.name }}">
      
          <a href="">{{ file.name }}</a>
        </li>
      </ul>
    </div>
    <div class="tab-container">
      <div ng-if="model.specifiedFileContent">
        <div hljs
             source="model.specifiedFileContent"
             onhighlight="onHighlight()"></div>
      </div>
      <div ng-if="!model.specifiedFileContent">
        <div ng-repeat="file in files">
          <div ng-show="file.name == model.currentFilename" 
               hljs 
               source="file.content"
               onhighlight="onHighlight()"></div>
        </div>
        <div class="result-content" ng-show="'?RESULT?' == model.currentFilename">
          <iframe frameborder="0" width="100%" height="100%" 
                  ng-if="'?RESULT?' == model.currentFilename" ng-src="http://run.plnkr.co/plunks/{{ plunkId }}/"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
