body {
	padding: 0 !important;
}

.tab-container {
}

.tab-container pre {
    padding: 0 .3em;
    border: 1px solid rgba(0, 0, 0, 0.05);
    margin-bottom: 0;
}

.tab-container pre code {
    background: none;
    background-color: transparent;
}
