<h3>hljs + hljs-language</h3>
<blockquote>
  Specify the language with <code>hljs-language</code> directive.
</blockquote>
<hr>

<div class="row">
  <div class="col-md-6">
    <p>Highlight.js auto-detection.</p>
    <small><strong>PHP</strong> (ref: <a href="http://softwaremaniacs.org/media/soft/highlight/test.html">highlight.js demo page</a>)</small>
    <div hljs include="'partials/lang-php'"></div>
  </div>
  <div class="col-md-6">
    <p>The same piece of code highlight with <code>perl</code> syntax.</p>
    <small><strong>Perl</strong> (forced)</small>
    <div hljs include="'partials/lang-php'" hljs-language="perl"></div>
  </div>
</div>






