<h3>hljs + include</h3>
<blockquote>
  <code>include</code> directive loads <code>text/ng-template</code> or XHR partial content in. The expression works the same as bulit-in <code>ng-include</code>.
</blockquote>
<hr>

<script type="text/ng-template" id="localOne">
@requires_authorization
def somefunc(param1='', param2=0):
    r'''A docstring'''
    if param1 > param2: # interesting
        print 'Gre\'ater'
    return (param2 - param1 + 1) or None

class SomeClass:
    pass

>>> message = '''interpreter
... prompt'''
</script>

<p>
  Load from <code>text/ng-template</code> script tag.
  <br><br>
  <small>Python</small>
</p>
<!-- load text/ng-template named 'localOne' -->
<hljs include="'localOne'"></hljs>
<hr>
<p>
  Load <code>partials/lang-perl</code> with XHR request.
  <br><br>
  <small>Perl</small>
</p>
<!-- load "partials/lang-perl" -->
<hljs include="'partials/lang-perl'"></hljs>
