<h3>hljs</h3>
<blockquote>
  Basic usage of <code>hljs</code>, just drop code in the directive.
  <br><br>
  <span class="label label-info">Note</span>
  <ul>
    <li>Can't work with code contains <code>hljs</code> tag.</li>
    <li>
      Can't preserve whitespace inside HTML tag. <small>Take a peek at the page source with "show source" on the top-right corner.</small>
    </li>
  </ul>
  
</blockquote>
<hr>

<!-- hljs start -->
<div hljs>
<!-- setup selection display/input input:text -->
<p class="lead">
  selection: <input type="text" ng-model="selection">
</p>

<!-- bind scope.selection to ngSelect model -->
<div class="row example" ng-select="selection">
  <div class="span12">
    
    <!-- five images with number as option value -->
    <!-- add "selected" class on option selected -->
    <img class="img-polaroid img-circle" 
         ng-repeat="num in [1, 2, 3, 4, 5] track by $id($index)" 
         ng-src="http://lorempixel.com/100/100/sports/{{ num }}"
         ng-select-option="{{ num }}" 
         select-class="{'selected': $optSelected}">
  </div>
</div>
</div>
<!-- hljs end -->
