<h3>hljs</h3>
<blockquote>
  Basic usage of <code>hljs</code>, just drop code in the directive.
  <br><br>
  <span class="label label-info">Note</span>
  <ul>
    <li>Can't work with code contains <code>hljs</code> tag.</li>
    <li>
      Can't preserve whitespaces inside HTML tag. <small>Take a peek at the page source with "show source" on the top-right corner.</small>
    </li>
    <li>
      Limitations above are not applicable when the <strong>auto-escape</strong> feature is off. <small>With <code>escape="false"</code> or <code>no-escape</code>.</small>
    </li>
  </ul>
  
</blockquote>
<hr>

<small><strong>HTML</strong> (ref: <a href="http://pc035860.github.io/ngSelect/example/">ngSelect example</a>)</small>
<div hljs>
<!-- setup selection display/input input:text -->
<p class="lead">
  selection: <input type="text" ng-model="selection">
</p>

<!-- bind scope.selection to ngSelect model -->
<div class="row example" ng-select="selection">
  <div class="col-xs-12">
    
    <!-- five images with number as option value -->
    <!-- add "selected" class on option selected -->
    <img class="img-polaroid img-circle" 
         ng-repeat="num in [1, 2, 3, 4, 5] track by $id($index)" 
         ng-src="http://lorempixel.com/100/100/sports/{{ num }}"
         ng-select-option="{{ num }}" 
         select-class="{'selected': $optSelected}">
  </div>
</div>
</div>

<small><strong>HTML without auto-escape</strong> (ref: <a href="http://pc035860.github.io/ngSelect/example/">ngSelect example</a>)</small>
<div hljs no-escape>
&lt;!-- setup selection display/input input:text --&gt;
&lt;p class=&quot;lead&quot;&gt;
  selection: &lt;input type=&quot;text&quot; ng-model=&quot;selection&quot;&gt;
&lt;/p&gt;

&lt;!-- bind scope.selection to ngSelect model --&gt;
&lt;div class=&quot;row example&quot; ng-select=&quot;selection&quot;&gt;
  &lt;div class=&quot;col-xs-12&quot;&gt;
    
    &lt;!-- five images with number as option value --&gt;
    &lt;!-- add &quot;selected&quot; class on option selected --&gt;
    &lt;img class=&quot;img-polaroid img-circle&quot; 
         ng-repeat=&quot;num in [1, 2, 3, 4, 5] track by $id($index)&quot; 
         ng-src=&quot;http://lorempixel.com/100/100/sports/{{ num }}&quot;
         ng-select-option=&quot;{{ num }}&quot; 
         select-class=&quot;{'selected': $optSelected}&quot;&gt;
  &lt;/div&gt;
&lt;/div&gt;
</div>

<small><strong>Django templates</strong> (ref: <a href="http://softwaremaniacs.org/media/soft/highlight/test.html">highlight.js demo page</a>)</small>
<div hljs>
{% if articles|length %}
{% for article in articles %}

{# Striped table #}
<tr class="{% cycle odd,even %}">
  <td>{{ article|default:"Hi... "|escape }}</td>
  <td {% if article.today %}class="today"{% endif %}>{{ article.date|date:"d.m.Y" }}</td>
</tr>

{% endfor %}
{% endif %}

{% comment %}
Comments may be long and
multiline.
{% endcomment %}
</div>

<small><strong>CSS</strong> (ref: <a href="http://softwaremaniacs.org/media/soft/highlight/test.html">highlight.js demo page</a>)</small>
<div hljs>
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  body:first-of-type pre::after {
    content: 'highlight: ' attr(class);
  }
}

@import url('print.css');
@page:right {
 margin: 1cm 2cm 1.3cm 4cm;
}

@font-face {
  font-family: Chunkfive; src: url('Chunkfive.otf');
}

div.text,
#content,
li[lang=ru] {
  font: Tahoma, Chunkfive, sans-serif;
  background: url('hatch.png') /* wtf? */;  color: #F0F0F0 !important;
  width: 100%;
}
</div>

<small><strong>JSON</strong> (ref: <a href="http://softwaremaniacs.org/media/soft/highlight/test.html">highlight.js demo page</a>)</small>
<div hljs>
[
  {
    "title": "apples",
    "count": [12000, 20000],
    "description": {"text": "...", "sensitive": false}
  },
  {
    "title": "oranges",
    "count": [17500, null],
    "description": {"text": "...", "sensitive": false}
  }
]
</div>
