<h3>ng-hljs + fetch</h3>
<blockquote>
  Blah
</blockquote>
<hr>

<script type="text/ng-template" id="localOne">
<!-- setup selection display/input input:text -->
<p class="lead">
  selection: <input type="text" ng-model="selection">
</p>

<!-- bind scope.selection to ngSelect model -->
<div class="row example" ng-select="selection">
  <div class="span12">
    
    <!-- five images with number as option value -->
    <!-- add "selected" class on option selected -->
    <img class="img-polaroid img-circle" 
         ng-repeat="num in [1, 2, 3, 4, 5] track by $id($index)" 
         ng-src="http://lorempixel.com/100/100/sports/{{ num }}"
         ng-select-option="{{ num }}" 
         select-class="{'selected': $optSelected}">
  </div>
</div>
</script>

<ng-hljs fetch="'localOne'"></ng-hljs>
<ng-hljs fetch="'partials/ng-hljs.html'"></ng-hljs>
