body {
    padding: 0 !important;
    background-color: transparent;
}

.tab-container {
    position: absolute;
    top: 42px;
    bottom: 0;
    left: 0;
    right: 0;

    overflow: auto;
}

.tab-container pre {
    padding: 0;
    border: none;
    margin-bottom: 0;
}

.tab-container pre code {
    /*background: none;*/
    /*background-color: transparent;*/
}

.nav-tabs {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0; right: 0;

    margin-bottom: 0;
    box-shadow: 0 1px 5px rgba(0,0,0,.1)
}

.edit-on-plunker {
    position: absolute;
    z-index: 3;
    top: 0;
    right: 0;
}